.table tbody tr td{
    text-align: center;
    align-items: center;
}

.desno{
    text-align: right;
    display: flex;
    justify-content: end;
}

.levo{
    text-align: left;
    display: flex;
}
.border{
    padding-top: 15px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-right: 5px;
    background-color: lightblue;
}

.margina{
    margin-bottom: 20px;
}

.sredina{
    text-align: center;
}

.slika{
    max-height: 75px;
}