<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="text-align: center;">
            <h2>Promena lozinke</h2>
        </div>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Stara lozinka</span>
            <input type="text" class="form-control" [(ngModel)]="staraLozinka">
        </div>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text">Nova lozinka</span>
            <input type="password" class="form-control" [(ngModel)]="novaLozinka">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Potvrda nove lozinke</span>
            <input type="password" class="form-control" [(ngModel)]="potvrdaLozinke">
        </div>
        <div style="text-align: center;">
            <span style="color: red;">{{poruka}}</span>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="btn btn-outline-dark" (click)="promeniLozinku()">Promeni lozinku</button>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>